{% extends 'index.html' %}
{% load static %}
{% block title %}Register{% endblock %}

{% block link %}{% endblock %}


{% block content %}
<section class="h-100 h-custom section-register">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-8 col-xl-6">
        <div class="card rounded-3">
          <img class="register-picture" src="{% static 'pictures/register-picture.jpg' %}"
            class="w-100"
            alt="Register picture">
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-3 pb-2 pb-md-0 mb-md-5 px-md-2">Sign up</h3>
            <form method="post">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="form-group mb-3">
                    {{ form.username }}
                    {{ form.errors }}
                </div>
                <div class="form-group mb-3">
                    {{ form.email }}
                    {{ form.errors }}
                </div>
                <div class="form-group mb-2">
                    {{ form.password }}
                    {{ form.errors }}
                </div>
                <div class="form-group mb-3">
                    {{ form.repeat_password }}
                    {{ form.errors }}
                </div>
                <div class="form-group mb-2">
                    {{ form.captcha }}
                </div>
                <button class="form-control btn btn-primary rounded" type="submit">Register</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
